<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CropPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="cropCommand" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <CropPlayer.Properties.Settings>
            <setting name="FFMpegPath" serializeAs="String">
              <value>F:\github\cropplayer\CropPlayer\ffmpeg\bin\ffmpeg.exe</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
              <value>E:\test2</value>
            </setting>
            <setting name="FileExtention" serializeAs="String">
              <value>mp4</value>
            </setting>
        </CropPlayer.Properties.Settings>
    </userSettings>
</configuration>